h2 {
    text-align: center;
    margin-top: 30px !important;
}

h5 {
    text-align: center;
}

input {
    display: block;
    margin-bottom: 10px !important;
} 

button {
    margin-bottom: 50px !important;
}

.container {
    justify-content: space-between;
    padding: 8%;
}

.validation {
    color: red;
}

#new-expense {
    display: none;
}

.individual-expense {
    padding: 10px;
}

#update-expense-btn {
    display: none;
}

p {
    display: inline;
    color: red;
}

.edit-expense, .dlt-expense {
    background-color: transparent;
    float: right;
}

.edit-expense img, .dlt-expense img {
    width: 25px;
}